/* Base Styles */

* { @include box-sizing(border-box); }

body {
  font-family: $body-font-family;
  font-weight: $body-font-weight;
  position: relative;
  -webkit-font-smoothing: $font-smoothing;
  -moz-osx-font-smoothing: grayscale;
  @include respond(all-phones) {
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    width: 100%;
    min-width: 0;
  }
}

html {
  -webkit-text-size-adjust: 100%;
}

html, body {
  height: 100%;
  min-height:100%;
}

h1, h2, h3, h4, h5 {
  font-family:$header-font-family;
  strong {
    font-family:$headerbold-font-family;
  }
}

h1, h2, h3 {
  line-height:1.25em;
}

h4, h5, h6 {
  line-height:1.375em;
  @include respond(tablets) {
    line-height:1.25em;
  }
}

em {
  font-style:italic;
}

h1 {
  @include font-size(40px);
  @include respond(tablets) {
    @include font-size(46px);
  }
}

h2 {
  @include font-size(32px);
  @include respond(tablets) {
    @include font-size(40px);
  }
}

h3 {
  @include font-size(28px);
  @include respond(tablets) {
    @include font-size(32px);
  }
}

h4 {
  @include font-size(24px);
  @include respond(tablets) {
    @include font-size(26px);
  }
}

h5 {
  @include font-size(20px);
  @include respond(tablets) {
    @include font-size(24px);
  }
}

h6 {
  @include font-size(18px);
  @include respond(tablets) {
    @include font-size(20px);
  }
}

p {
  @include font-size(16px);
  line-height:1.6em;
  clear:both;
  strong {
    font-weight:600;
  }
}

small {
  @include font-size(14px);
  line-height:1.375em;
  @include inline-block;
}

.font--smaller {
  @include font-size(12px);
  line-height:1.375em;
  @include inline-block;
}

.font--blue {
  color:$pacific-blue;
}

strong {
  font-weight:700;
}

a {
  cursor:pointer;
  @include transition(all, 0.2s ease-in-out);
  text-decoration:none;
  &:hover {
  }
}

label {
  @include font-size(14px);
  @include inline-block;
  width:100%;
}
.center {
  text-align:center;
}

.fixed-position-desktop {
  @include respond(desktops) {
    position:fixed;
    width:100%;
    top:0;
  }
}

.no-scroll {
  position:fixed;
  @include respond(desktops) {
    position:static;
  }
}

