.content--container {
	margin:0 10px;
	@include box-sizing(border-box);
	&.no-margin {
		margin:0;
	}

	h1, h2, h3, h4, h5, h6, p {
		margin-bottom:0.5em;
		&.no--margin {
			margin-bottom:0;
		}

	}
}

.content--container-defer {
	@include respond(desktops) {
		position:static;
		margin-top:97px;
		clear:both;
	}
}

