footer {
	background:$mine-shaft;
	color:$white;
	padding:15px 15px 25px 10px;
	a {
		color:$white;
		&:hover, &:focus {
			color:$silver;
		}
	}
}

.footer--logo-lang {
	@include display-flex;
	@include flex-direction(row);
	align-items:flex-end;
	margin-bottom:15px;
}

.footer--logo {
	img {
		height:25px;
		width:auto;
	}
}

.footer--lang {
	margin-left:auto;
}

.footer--copyright {
	color:$dusty-grey;
	margin-bottom:10px;
	@include respond(desktops) {
		order:1;
		margin-bottom:0;
	}
}

.footer--sublinks {
	@include font-size(12px);
	@include respond(desktops) {
		order:3;
		margin-top:-10px;
	}
	li {
		display:inline;
		padding-right:7px;
		margin-right:5px;
		border-right:1px solid $dusty-grey;
		&:last-child {
			border-right:none;
		}
	}
}

.footer--forum {
	margin-top:20px;
	@include respond(desktops) {
		text-align:right;
		order:2;
		margin-top:0;
	}
}

.footer--bottom {
	@include respond(desktops) {
		display:grid;
		grid-template-columns: repeat(2, 1fr);
		small {
			float:left;
			width:100%;
		}
	}
}

.footer--thin {
	.footer--bottom {
		display:inline;
		div {
			width:100%;
		}
		small {
			float:none;
		}
	}

	.footer--copyright {
		margin-bottom:10px;
	}

	.footer--sublinks {
		margin-top:0;
	}
}

.footer--links {
	padding-top:5px;
	margin-bottom:15px;
	border-bottom:1px solid $dove-grey;
	@include respond(tablets) {
		display:grid;
		grid-template-columns:repeat(2,1fr);
	}
	@include respond(desktops) {
		grid-template-columns:repeat(4,1fr);
	}
	li {
		@include font-size(12px);
		line-height:1.75em;
	}
}

.footer--link {
	margin-bottom:15px;
}

.footer--title {
	margin-bottom:5px;
	font-weight:700;
}

.footer--toll-free {
	margin-bottom:15px;
	@include respond(tablets) {
		margin-bottom:10px;
	}
}

.footer--social {
	ul {
		@include display-flex;
	}
	li {
		margin-right:10px;
	}
	a {
		width:25px;
		height:25px;
		@include inline-block;
		text-align:center;
		svg {
			fill:$mercury;
			@include inline-block;
  			vertical-align: middle;
		}
		&:hover, &:focus {
			svg {
				fill:$dove-grey;
			}
		}
	}
}

.footer--svg {
	display:none;
}



.brand--maxis {

	.footer--toll-free {
		a {
			color:$sushi;
			&:hover, &:focus {
				color:$turbo;
			}
		}
	}

}

.brand--hotlink {

	.footer--logo-lang {
		align-items: center;
	}


	.footer--toll-free {
		a {
			color:$froly;
			&:hover, &:focus {
				color:$selective-yellow;
			}
		}
	}

}