/* Top Header only */

.header--top {
	padding:0 10px;
	@include display-flex;
	@include flex-direction(row);
}

.header--logo {
	a {
		padding:10px 0;
		@include inline-block;
	}
}
.header--actions {
	margin-left:auto;
	@include font-size(12px);
	@include display-flex;
	> ul {
		align-items:center;
		@include display-flex;
		@include flex-direction(row);
		@include respond(tablets) {
			position:relative;
		}
		> li {
			margin-left:10px;
			> a {
				padding:10px 5px;
				@include inline-block;
			}
		}
	}
	a, i {
		@include inline-block;
		vertical-align: middle;
	}
}

.header--actions-topup {
	display:none;
	a {
		@include border-radius(5px);
	}
}
	.header--actions {
		.header--actions-topup {
			a {
				padding:8px 10px;
			}
		}
	}

.header--actions-dropdown {
	display:none;
	position:absolute;
	right:0;
	top:100%;
	margin:0;
	z-index:2;
	width:180px;
	background:$alabaster;
	@include border-radius(2px);
	@include box-shadow($black-a25 0 0 5px);
	padding:15px 0 0;
	overflow:auto;
	a, small, p {
		color:$black;
	}
	li {
		padding:0;
		line-height:45px;
		@include font-size(14px);
	}
	a {
		padding:0 20px;
		width:100%;
		vertical-align:top;
		&:hover {
			background:$mercury;
		}
	}

}

li.header--actions-user {
	position:relative;
	@include inline-block;
	@include respond(tablets) {
		position:relative;
	}
	&:hover .header--actions-dropdown, &:focus .header--actions-dropdown {
		display:block;
	}
	a:active .header--actions-dropdown {
		display:none;
	}
}

li.header--actions-details {
	padding-bottom:10px;
	line-height:1em;
	border-bottom:1px solid $mercury;
	padding:0 20px 20px 20px;
	@include inline-block;
	a {
		padding:0;
		small {
			padding:0;
		}
		&:hover {
			background:none;
		}
	}
	p {
		margin-bottom:5px;
		&:hover {
			background:none;
		}
	}
}

li a.header--actions-manage {
	@include font-size(12px);
	color:$white;
	padding:10px;
	@include border-radius(5px);
	@include inline-block;
	background:$dove-grey;
	@include respond(desktops) {
		@include border-radius(0);
		color:$lochmara;
		display:inline;
		background:none;
		padding:0;
	}
	&:hover {
		background:$emperor;
		@include respond(desktops) {
			background:none;
			text-decoration:underline;
		}
	}
}

.header--actions-line {
	border-top:1px solid $mercury;
}

/* Bottom header */

.header--bottom {
	position:relative;
	/*height:100%;*/
}

.header--menu-top {
	ul {
		@include display-flex;
		@include flex-direction(row);
		justify-content:space-between;
		margin:0 10px;
		@include respond(tablets) {
			justify-content:flex-start;
		}
	}
	li {
		@include font-size(12px);
		@include respond(tablets) {
			margin-right:20px;
		}
	}
	a {
		line-height:40px;
		padding:5px 0;
		font-weight:600;
		i {
			@include inline-block;
			vertical-align: middle;
		}
	}
}

.header--menu-dropdown {
 	a {
		border:1px solid $dove-grey;
		padding:5px;
		@include border-radius(5px);
		i {
			@include font-size(12px);
		}
	}
}

li.header--menu-search {
	@include respond(tablets) {
		margin-left:auto;
		margin-right:0;
	}
	a {
		padding-right:5px;
		i {
			color:$dove-grey;
		}
		&:hover {
			i {
				color:$silver;
			}
		}

	}
}

// Full Dropdown Menu

.header--menu-extended {
	display:none;
	position:fixed;
	top:0;
	left:0;
	bottom:0;
	width:100%;
	margin-top:97px;
	/*height:100%;*/
	background:$alabaster;
	padding:20px;
	@include font-size(12px);
	font-weight:600;
	overflow:auto;
	-webkit-overflow-scrolling: touch;
	a {
		color:$emperor;
		&:hover, &:focus {
			text-decoration:underline;
		}
	}
	li {
		line-height:1.8em;
	}
	h6 {
		font-family:$body-font-family;
		font-weight:700;
		text-transform:uppercase;
		margin-bottom:5px;
		letter-spacing:-0.03em;
		a {
			&:hover, &:focus {
				text-decoration:none;
			}
		}
	}

}

.header--menu-quicklist {
	font-weight:normal;
	ul {
		@include display-flex;
		@include flex-direction(row);
		margin-bottom:20px;
	}
	li {
		margin-right:20px;
	}
}

.header--menu-list {
	ul {
		margin-bottom:20px;
	}
}

.header--menu-bottomlist {
	padding-bottom:20px;
}



// Maxis only
.brand--maxis {
	.header--top {
		border-bottom:1px solid $mercury;
	}
	.header--actions {
		> ul > li {
			> a, > i {
				color:$dove-grey;
			}
			> a:hover {
				color:$apple;
				i {
					color:$apple;
				}
			}
		}
	}
	.header--menu-top {
		border-bottom:1px solid $mercury;
		a {
			color:$apple;
			&:hover {
				color:$dusty-grey;
			}
		}
	}
	.header--menu-dropdown {
		a {
			border-color:$apple;
			&:hover, &:focus {
				background:$apple;
				color:$white;
			}
		}
	}
	.header--menu-extended {
		h6 {
			a {
				color:$apple2;
			}
		}
		a:hover, a:focus {
			color:$apple2;
		} 
	}
}


// Hotlink only
.brand--hotlink {
	.header--top, .menu--top {
		background:$guardsman-red;
	}
	.header--actions {
		> ul > li {
			> a, > i {
				color:$white;
			}
			> a:hover {
				color:$mercury;
				i {
					color:$mercury;
				}
			}
		}
	}
	.header--actions-topup {
		a {
			background:$maroon-a;
			&:hover {
				background:$tempress-a;
			}
		}
	}
	@include respond(tablets) {
		.header--actions-topup {
			display:block;
		}
	}
	.header--bottom {
		@include box-shadow($dove-grey-a 0 0 5px);
	}

	.header--menu-top {
		background:$guardsman-red;
		a {
			color:$white;
			&:hover {
				color:$mercury;
			}
		}
	}
	.header--menu-dropdown {
		a {
			border-color:$white;
			&:hover, &:focus {
				background:$maroon;
				color:$white;
				border-color:$maroon;
			}
		}
	}
	.header--menu-search {
		a {
			i {
				color:$white;
			}
			&:hover {
				i {
					color:$silver;
				}
			}
		}
	}
	.header--menu-extended {
		h6 {
			a {
				color:$mine-shaft;
			}
		}
		a:hover, a:focus {
			color:$guardsman-red;
		} 
	}

}