// Font Weights
$font-weight-bold: 700;
$font-weight-semibold: 600;
$font-weight-medium: 400;
$font-weight-regular: 400;
$font-weight-light: 300;
$font-weight-thin: 300;

// Typography
$font-family: aauxnext-regular-webfont;
$bold-family: aauxnext-bold-webfont;
$body-font-family: "Open Sans", Helvetica, Arial, sans-serif;
$header-font-family: "aauxnext-regular-webfont", Helvetica, Arial, sans-serif;
$headerbold-font-family: "aauxnext-bold-webfont", Helvetica, Arial, sans-serif;
$button-font-family: "aauxnext-bold-webfont", Helvetica, Arial, sans-serif;
$font-smoothing: antialiased;
$body-font-weight: $font-weight-regular;

// Responsiveness Settings
$min-device-width: 320px; 				// iPhone Portrait
$iphone6plus-width: 414px; 				// iPhone Portrait
$android-device-width: 480px; 			// Base Android Phone
$landscape-device-width: 533px; 		// iPhone5 Landscape
$tablet-device-width: 768px;			// iPad Portrait
$small-tablet-width: 600px;				// Small Android Tablets
$document-width: 960px;					// Default Document
$large-document-width: 1500px;			// Default Document
$max-device-width: 2000px;				// Max Document Size


// Colours
$black: rgb(0,0,0);
$mine-shaft: rgb(38,38,38);
$emperor: rgb(80,80,80);
$dove-grey: rgb(115,115,115);
$dusty-grey: rgb(153,153,153);
$silver: rgb(191,191,191);
$mercury: rgb(229,229,229);
$alabaster: rgb(250,250,250);
$white: rgb(255,255,255);
$red: rgb(225,27,52);

// Maxis Colours
$maxis-green: rgb(140,230,0);
$apple: rgb(56,142,60);
$green-kelp: rgb(41,55,31);
$apple2: rgb(67,160,71);
$sushi: rgb(126,194,55);
$atlantis: rgb(163,206,38);
$turbo: rgb(227,228,0);

$cobalt: rgb(0,68,157);
$lochmara: rgb(2,132,209);
$aqua: rgb(0,213,255);
$sushi2: rgb(122,193,56);
$sushi3: rgb(139,195,74);
$red-violet: rgb(237,19,139);
$amaranth: rgb(216,27,96);

// Hotlink Colours
$hotlink-red: rgb(225,0,0);
$tempress: rgb(64,0,0);
$maroon: rgb(127,0,0);
$guardsman-red: rgb(204,0,0);
$sunset-orange: rgb(255,76,76);
$froly: rgb(244,121,107);

$lucky-point: rgb(24,32,111);
/* $aqua has been added above */
$bondi-blue: rgb(9,157,173);
$green-haze: rgb(0,178,51);
$fun-green: rgb(0,129,72);
$flirt: rgb(180,0,102);
$selective-yellow: rgb(255,186,8);

// Additional Colours (only for framework purposes)
$lightning-yellow: rgb(246,190,28);
$red-orange: rgb(255,74,38);

// Alpha colours
$black-a25: rgba(0,0,0,0.25);
$dove-grey-a: rgba(115,115,115,0.5);
$tempress-a: rgba(64,0,0,0.5);
$maroon-a: rgba(127,0,0,0.5);
$white-a: rgba(255,255,255,0.9);