// Font Weights
$font-weight-bold: 700;
$font-weight-semibold: 600;
$font-weight-medium: 400;
$font-weight-regular: 400;
$font-weight-light: 300;
$font-weight-thin: 300;

// Typography
$font-family: aauxnext-regular-webfont;
$bold-family: aauxnext-bold-webfont;
$body-font-family: "Open Sans", Helvetica, Arial, sans-serif;
$header-font-family: "aauxnext-regular-webfont", Helvetica, Arial, sans-serif;
$headerbold-font-family: "aauxnext-bold-webfont", Helvetica, Arial, sans-serif;
$button-font-family: "aauxnext-bold-webfont", Helvetica, Arial, sans-serif;
$font-smoothing: antialiased;
$body-font-weight: $font-weight-regular;

// Responsiveness Settings
$min-device-width: 320px; 				// iPhone Portrait
$iphone6plus-width: 414px; 				// iPhone Portrait
$android-device-width: 480px; 			// Base Android Phone
$landscape-device-width: 533px; 		// iPhone5 Landscape
$tablet-device-width: 768px;			// iPad Portrait
$small-tablet-width: 600px;				// Small Android Tablets
$document-width: 960px;					// Default Document
$large-document-width: 1500px;			// Default Document
$max-device-width: 2000px;				// Max Document Size
$max-desktop-width: 1140px;


// Colours
$black: rgb(0,0,0);
$ebony: rgb(38,38,38);
$slate: rgb(80,80,80);
$fossil: rgb(115,115,115);
$smoke: rgb(153,153,153);
$coin: rgb(191,191,191);
$cloud: rgb(229,229,229);
$alabaster: rgb(250,250,250);
$white: rgb(255,255,255);
$red: rgb(225,26,54);

// Maxis Colours
$shock-green: rgb(140,230,0);
$greenlane: rgb(56,142,60);
$forest: rgb(41,55,31);
$shamrock: rgb(67,160,71);
$lime: rgb(126,194,55);
$chartreuse: rgb(163,206,38);
$sunflower: rgb(227,228,0);

$cobalt: rgb(0,68,157);
$pacific-blue: rgb(2,132,209);
$cyan: rgb(0,213,255);
$apple: rgb(122,193,56);
$jade: rgb(139,195,74);
$cerise: rgb(237,19,139);
$lipstick: rgb(216,27,96);

// Hotlink Colours
$hotlink-red: rgb(225,0,0);
$mahogany: rgb(64,0,0);
$garnet: rgb(127,0,0);
$crimson: rgb(204,0,0);
$peach: rgb(255,76,76);
$coral: rgb(244,121,107);

$berry: rgb(24,32,111);
/* $cyan has been added above */
$turquoise: rgb(9,157,173);
$parakeet: rgb(0,178,51);
$pine: rgb(0,129,72);
$magenta: rgb(180,0,102);
$honey: rgb(255,186,8);
$carrot: rgb(255,145,41);

// Additional Colours (only for framework purposes)
$lightning-yellow: rgb(246,190,28);
$red-orange: rgb(255,74,38);
$wild-sand: rgb(244,244,244);
$white-ice: rgb(227,250,234);
$egg-white: rgb(255, 238, 191);
$humming-bird: rgb(225, 246, 251);
$tuft-bush: rgb(255, 210, 202);


// Alpha colours
$black-a25: rgba(0,0,0,0.25);
$black-a10: rgba(0,0,0,0.10);
$cloud-a60: rgba(229,229,229,0.6);
$slate-a60: rgba(80,80,80,0.6);
$fossil-a50: rgba(115,115,115,0.5);
$mahogany-a50: rgba(64,0,0,0.5);
$garnet-a50: rgba(127,0,0,0.5);
$white-a90: rgba(255,255,255,0.9);
$white-a50: rgba(255,255,255,0.5);
$white-a20: rgba(255,255,255,0.2);


// Button colours
$maxis-primary: $greenlane;
$maxis-primary-hover: $forest;
$maxis-secondary: $lime;
$maxis-secondary-hover: $shamrock;
$hotlink-primary: $crimson;
$hotlink-primary-hover: $garnet;
$hotlink-secondary: $white;
$hotlink-secondary-hover: $cloud;